*{
    padding: 0px;
    margin: 0px;
}
.wrapper{
    width: 970px;
}
.main{
    background: #245076;
    height: 500px;
    }
#python{
    padding: 25px;
    display: inline-block;
}
.header{
    display: inline-block;
    vertical-align: top;
    position: relative;
    text-align: center;
    left: 250px;
    padding: 25px;
    color: white;
    margin-right: 10px;
    font-size: 12px; 
}
.header a{
    color: #c4aa06;
}
.searchbar{
    width: 200px;
    height: 35px;
    background: #444444;
    margin-top: 2px;
    border-radius: 15px;
    padding: 10px 30px;
    position: relative;
    right: 10px;
}
.searchbox{
    text-align: center;
    padding: 10px 10px;
    font-size: 10px;
    border: 1px;
    border-color: #9c9c9c;
}
#button{
    background: #245076;
    color: #aabbca;
    padding: 5px;
    border-radius: 5px;
}
.Nav{
    height: fit-content;
    width: fit-content;
    padding: 0px;
    margin: 0px;
    background: #467dad;
    color: #ebf1f6;
    font-size: 20px;
    border-radius: 5px;
    position: relative;
    left: 90px;   
}
.Nav ul{
    list-style: none;
    display: block;
}
.Nav ul li{
    padding: 10px 31px;
    display: inline-block;
}
.Nav ul li a{
    text-decoration: none;
    color: #f8fafc;
}
.LeftMenu{
    display: inline-block;
    padding: 25px 50px;
    margin-left: 60px;
    text-align: center;
}
.LeftMenu ul li{
    margin-bottom: 5px;
}
.LeftMenu ul li a{
    color: #dae2e8;
}
.TextRight{
    color: #dfe5eb;
    text-align: center;
    display: inline-block;
    width: 625px;
    vertical-align: top;
    margin: 10px;
}
#KeyIdeas{
    color: #f6ce31;
}
#KeyIdeas p{
    margin: 10px;
    font-size: 20px;
}
#NormalText{
    color: #f5f7f9;
    font-size: 17px;
}
.GettingStarted{
    display: inline-block;
    text-align: center;
    width: 300px;
    margin: 10px;
    padding: 0px 100px;
    border-top: 4px solid #73a7d5; 
}
.GettingStarted h3{
    padding-bottom: 5px;
}
.GettingStarted ul li {
    padding: 0px 10px;
}
.GettingStarted ul li a{
    text-decoration: none;
}
.Applications{
    display: inline-block;
    text-align: center;
    vertical-align: top;
    width: 375px;
    margin: 10px 0px 0px 0px;
    padding: 0px 40px 0px 0px;;
    border-top: 4px solid #73a7d5;
}
.Applications h3{
    padding-bottom: 5px;
}
.Applications ul li{
    padding: 0px 10px;

}
.Applications ul li a{
    text-decoration: none;
}
.Footer{
    width: 970px;
    background: linear-gradient(#275278, #3777ae);
    text-align: center;
    margin-top: 10px;
}
.Footer ul li{
    display: block;
    list-style: none;
    display: inline-block;
    padding: 25px;
    position: relative;
    left: 25px;
}
.Footer ul li a{
    text-decoration: none;
    color: #80b2df;
    font-size: 18px;
}
.Footer p{
    color:#80b2df;
    font-size: 10px; 
}
